body {
   font-family: "lato", sans-serif;
   font-size: 18px;
   padding-bottom: 48px;
   font-weight: 400;
   color: #333;
}

h1, h2 {
	font-family: "acuta", serif;
	font-style: italic;
	border-bottom: none;
	color: #333;
}

h1 {
	font-size: 64px;
	margin: 18px 0;
	font-weight: 800;
}

h2 {
	font-size: 32px;
	margin: 9px 0;
	font-weight: 400;
}

h3 {
	font-size: 24px;
	font-weight: 700;
	margin: 18px 0;
}

.page-header {
	border-bottom: none;
}

a:hover {
	color: #363636;
	text-decoration: none;
}

.content {
	padding-top: 24px;
	border-top: 1px dotted #ccc;
}

a {
	border-bottom: 1px dotted #333;
	color: #333;
}

a.media-link {
	font-family: "acuta", sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 28px;
	margin-right: 18px;
	border-bottom: none;
}

a.reversefootnote {
	border-bottom: none;
	margin-left: 6px;
}

a.media-link:hover {
	border-bottom: 1px dotted #333;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	margin-bottom: 24px;
}

.footnotes {
	margin-top: 36px;
	border-top: 1px dotted #ccc;
	font-size: 14px;
	padding-top: 24px;
}

ol {
	padding: 0;
	padding-left: 18px;
}

@media (max-width: 991px) {
	body {
		font-size: 16px;
	}

	.footnotes {
		font-size: 12px;
	}

	a.media-link {
		font-size: 22px;
	}
	ul.interest-list {
		margin-bottom: 48px;
	}
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
}

ul.interest-list > li {
	margin-bottom: 6px;
}


#footer {
	border-top: 1px dotted #333;
	margin-top: 24px;
	text-align: right;
	padding-top: 12px;
	font-size: 12px;
}

.idea-list {
    margin-top: 24px;
}

.idea-list li {
	margin: 12px 0;
}