body {
   /*background: url("/media/img/cardboard.png"); */
   font-family: museo-sans, serif;
}

#content {
    width: 900px;
    margin: 60px auto 0 auto;
}

h1, ul, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:hover {
    border-bottom: 1px dotted #333;
}

a.undecorated:hover {
    border-bottom: none;
}

a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

a.media-link {
    font-size: 28px;
    font-family: cubano, sans-serif;
    margin-right: 18px;
}

span.info {
    font-size: 20px;
}

.link-li {
    margin-bottom: 6px;
}

h1 {
    font-size: 92px;
    color: #333;
}

.page-header {
    border-bottom: none;
}

#ets {
    margin-top: 24px;
}
.excellent-thing {
    padding: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    float: left;
    border: 1px solid #eee;
    box-shadow: 0px 2px 7px #666;
    background: white;
}

.et-img {
    width: 180px;
}

#breadcrumbs {
    border-bottom: 1px dotted #999;
}

#breadcrumbs, #footer {
    margin: 0 12px;
    padding: 12px 0;
}

#footer {
    margin-top: 24px;
    border-top: 1px #999 dotted;
    font-size: 12px;
    text-align: right;
}

#main-content {
    margin: 24px 12px;
}

#poems a {
    font-size: 26px;
}

#poem-content h1 {
    margin-top: 12px;
    margin-bottom: 36px;
}

#poem-content p {
    line-height: 26px;
    margin: 24px 0;
}

.detail-section {
    /*margin: 24px 0;*/
    padding-left: 36px;
    margin-bottom: 48px;
}

#name {
    margin-left: 36px;
}

#ideas .intro {
    margin: 24px 0;
}

#ideas ol {
    padding-left: 20px;
    margin: 0;
}

#ideas ol > li {
    margin: 24px 0;
}

#inspirations li {
    margin: 6px 0;
    font-weight: bold;
}

#inspirations {
    margin: 12px 0;
}

#dream-project {
    color: #0B1036;
    font-size: 18px;
    line-height: 26px;
}

#dream-project h1 {
    margin: 60px 0;
}

#dream-project pre {
    padding: 12px;
    margin: 24px 0;
    /*font-weight: bold;*/
    color: #ededed;
    background: black;
    margin: 36px 0;
}

#dream-project p {
    /*text-indent: 48px;*/
    margin-bottom: 36px;
}

#dream-project ul {
    list-style-type:circle;
    margin-left: 48px;
    margin-bottom: 24px;
}

#dream-project ul > li{
    margin-bottom: 6px;
}